
/* Container for the login form */
.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #35495e; 
  border: 2px solid #f0a500; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: #ffffff; 
}

/* Login button styles */
button {
  padding: 10px 20px;
  background-color: #f0a500; 
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #dd9000; 
}

/* Input field styles */
input {
  margin-bottom: 10px;
  padding: 0.6rem;
  border: 2px solid #f0a500; 
  border-radius: 5px;
  width: 100%;
  color: #333; 
  font-size: 16px;
}

/* Link styles */
a {
  text-decoration: none;
  color: #007bff; 
}

a:hover {
  text-decoration: underline; 
}
